// @font-face {
//     font-family: 'Protrakt-ExtraBold';
//     src: url(../fonts/Protrakt-ExtraBold.otf) format("opentype");
//     font-weight: bold;
// }

body {
    font-family: $font-family-primary;
    line-height: 1.8125;
    color: #000;
    overflow-x: hidden;
    @media (max-width: 600px) {
        line-height: 1.615;
    }
}
h1 {
    font-size: var(--wp--preset--font-size--title-1);
}
h1, .has-title-1-font-size {
    line-height: 1.24;
}
h1, h2 {
    font-family: $font-family-heading;
    font-weight: bold;
}
h3, h4 {
    font-weight: bold;
    line-height: 1.25;
}
h2 {
    font-size: var(--wp--preset--font-size--title-2);
}
h2, .has-title-2-font-size {
    line-height: 1.3;
}
h3 {
    font-size: var(--wp--preset--font-size--title-3);
}
h3, .has-title-3-font-size {
    line-height: 1.296;
}
h4 {
    font-size: var(--wp--preset--font-size--title-4);
}
h4, .has-title-4-font-size {
    line-height: 1.5;
}
h5 {
    font-size: var(--wp--preset--font-size--base);
}
h5, .has-lead-font-size {
    line-height: 1.667;
}
h6 {
    font-size: .85rem;
}
strong, b {
    font-weight: 700;
}
a {
  color: $brand-primary;
  &:hover,
  &:focus {
    color: $brand-primary;
    text-decoration: underline;
    }
}
img,
video {
    max-width: 100%;
    height: auto;
}
img.emoji {
    display: inline-block;
    border: none;
    height: 1em;
    width: 1em;
    margin: 0 .07em;
    vertical-align: -.1em;
    background: 0 0;
    padding: 0;
    box-shadow: none;
}

.entry-content > * + * {
    margin-block-start: var(--wp--style--block-gap);
    margin-block-end: 0;
}
.entry-content > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto;
    margin-right: auto;
}
.entry-content > .alignwide {
    max-width: var(--wp--style--global--wide-size);
}


.screen-reader-text {
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.wp-block-cover {
    padding-top: 4rem;
    padding-bottom: 4rem;
    min-height: 300px;
    h1, h2, h3, h4, p {
        padding: 0;
        margin-bottom: var(--wp--style--block-gap);
    }
}

// .wp-block-button {
//     color: inherit;
//     margin-top: 1.5rem;
//     margin-bottom: 1.5rem;
// }
.btn, 
.btn.btn-primary,
.wp-block-button__link,
.wp-block-button__link:visited,
.editor-styles-wrapper .wp-block-button__link {
    border: 0;
    font-family: $font-family-primary;
    color: #fff;
    letter-spacing: 0;
    font-size: var(--wp--preset--font-size--title-4);
    padding: 1rem 1.5rem .95rem;
    font-weight: bold;
    background: $brand-primary;
    border-radius: 100px;
    transition: 300ms all ease-in-out;
    &:active,
    &.active,
    &:focus, 
    &:hover {
        background-color: $brand-primary;
        color: #fff;
        text-decoration: none;
        transition: none;
    }
}
.wp-block-button.is-style-text .wp-block-button__link {
    background-color: transparent;
    padding: 0 2.5rem 0 3.5rem;
    color: #000;
    border-radius: 0;
    border: 0;
    position: relative;
    min-height: 40px;
    line-height: 40px;
    white-space: nowrap;
    transition: color 0.45s cubic-bezier(0.65,0,.076,1);
    &::after {
        content: "";
        position: absolute;
        left: 13px;
        top: 50%;
        width: 12px;
        height: 12px;
        transform: translateY(-50%) rotate(-45deg);
        border-right: solid 4px #000;
        border-bottom: solid 4px #000;
        transition: all 0.45s cubic-bezier(0.65,0,.076,1);
    }
    &::before {
        content: "";
        position: absolute;
        left:0;
        top: 0;
        background-color: $orange;
        margin-right: 1rem;
        width: 40px;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        border-radius: 40px;
        z-index: -1;
        transition: width 0.45s cubic-bezier(0.65,0,.076,1);
    }
    &:hover {
        color: #000!important; // to override any editor color settings
        &::before {
            width: 100%;
        }
        &::after {
            left: 1.5rem;
        }
    }
    @media (max-width: 600px) {
        background-color: #000;
        border-radius: 100px;
        color: #fff!important; // To overwrite editor overrides
        padding-left: 4rem;
        z-index: 1;
        &::after {
            right: 16px;
            width: 10px;
            height: 10px;
            border-width: 2px;
        }
        &:hover {
            color: #000!important;
        }
    }
}
.card-button {
    border: solid 1px #000;
    border-radius: 15px;
    padding: 2rem;
    position: relative;
    :first-child {
        margin-bottom: auto;
    }
    a {
        color: inherit;
        text-decoration: none;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
    }
    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        right: calc(2rem + 15px);
        bottom: calc(2rem + 20px);
        width: 12px;
        height: 12px;
        transform: translateY(50%) rotate(-45deg);
        border-right: solid 4px $orange;
        border-bottom: solid 4px $orange;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        background-color: #000;
        width: 40px;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        border-radius: 40px;
    }
    &:hover {
        background-color: #000;
        color: #fff;
        a {
            text-decoration: none;
            color: $orange;
        }
        &::before {
            border-color: #000;
        }
        &::after {
            background-color: $orange;
        }
    }
    @media (min-width: 782px) {
        min-height: 250px;
    }
    @media (max-width: 781px) {
        &::before {
            right: calc(2rem + 16px);
            width: 10px;
            height: 10px;
            border-width: 2px;
        }
    }
}
.has-pattern-top,
.has-pattern-right,
.has-pattern-bottom,
.has-pattern-left {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        background: $orange url(../img/OSUVA-Texture1.png) center center no-repeat;
        background-size: cover;
    }
}
.has-pattern-left {
    &:before {
        left: 0;
        top: 0;
        width: 30px;
        height: 100%;
    }
}
.has-pattern-right {
    &:before {
        right: 0;
        top: 0;
        width: 30px;
        height: 100%;
    }
}
.has-pattern-bottom {
    &:before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30px;
    }
}
.has-pattern-top {
    &:before {
        left: 0;
        top: 0;
        width: 100%;
        height: 30px;
    }
}
.has-rounded-corners {
    border-radius: 10px;
}

.hero {
    position: relative;
    min-height: 92vh;
    &:after {
        content: attr(id);
        position: absolute;
        right: calc(100% - 1rem);
        top: 2rem;
        color: #fff;
        text-transform: uppercase;
        font-family: $font-family-heading;
        font-size: 7px;
        z-index: 1;
        letter-spacing: 1.82px;
        transform: rotate(270deg);
        transform-origin: top right;
        width: 200px; // just to make sure the content fits
        text-align: right;
    }
    &.wp-block-media-text {
        &:after {
            @media (min-width: 600px) {
                color: #000;
            }
        }
        &.is-image-fill figure {
            position: relative;
            &:before {
                @extend .has-pattern-left;
                z-index: 2;
            }
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: .25;
                z-index: 1;
            }
            @media (max-width: 600px) {
                min-height: 320px;
                &:before {
                    height: 17px;
                    width: 100%;
                }
            }
        }
        @media (max-width: 600px) {
            .wp-block-spacer {
                display: none;
            }
        }
    }
    &.wp-block-cover {
        padding-left: 2rem;
        padding-right: 2rem;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 131px;
            height: 100%;
            background: $orange url(../img/OSUVA-Texture1.png) center center no-repeat;
            background-size: cover;
            z-index: 1;
            // animation: animatedBackground 30s linear infinite alternate;
            @media (max-width: 600px) {
                width: 100%;
                height: 17px;
                min-height: 0;
            }
        }
        .wp-block-column {
            max-width: var(--wp--style--global--content-size);
        }
        @media (min-width: 601px) {
            margin-right: 0rem!important;
            padding-left: calc(131px + 4rem);
            padding-right: calc(131px + 4rem); // to center the content
        }
        @media (min-width: 1200px) {
            .wp-block-column {
                flex-basis: 60%!important;
            }
        }
    }
}
// @keyframes animatedBackground {
//   from {
//     background-position: 0 0;
//   }
//   to {
//     background-position: 100% 0%;
//   }
// }
.home-section {
    border-top: solid 1px $grey-60;
    &:last-child {
        border-bottom: solid 1px $grey-60;
    }
    @media (min-width: 601px) {
        padding: 4rem;
        &.has-pattern-left:before,
        &.has-pattern-right:before {
            width: 28vw;
        }
        + .home-section {
            margin-block-start: 0;
        }
    }
    @media (max-width: 600px) {
        + .home-section {
            margin-top: 4rem;
        }
        &.wp-block-cover {
            padding: 0;
            min-height: 0!important;
        }
        &.has-pattern-right {
            &:before {
                display: none;
            }
            .wp-block-media-text__media {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    background: $orange url(../img/OSUVA-Texture1.png) center center no-repeat;
                    background-size: cover;
                    right: 0;
                    top: 0;
                    width: 30px;
                    height: 100%;
                }
            }
        }
        &.has-pattern-left {
            &:before {
                display: none;
            }
            .wp-block-media-text__media {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    background: $orange url(../img/OSUVA-Texture1.png) center center no-repeat;
                    background-size: cover;
                    left: 0;
                    top: 0;
                    width: 30px;
                    height: 100%;
                }
            }
        }
    }
}

.entry-content > .alignfull {
    margin-left: -2rem;
    margin-right: -2rem;
}
.entry-content ul {
    list-style: none; // Remove default bullets
    li {
        margin-bottom: 1rem;
        &::before {
            content: "";
            background-color: $orange;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            position: relative;
            margin-left: -10px; // To align the text
            top: -1px;
            left: -20px;
            vertical-align: middle;
        }
    }
}
.pricing-table {
    border-bottom: solid 1px #000;
    > h3, > h4, > h5 {
        border-bottom: solid 1px #000;
        padding: 1rem 0;
    }
    > .wp-block-columns {
        margin-block-start: 0;
        gap: 0;
    }
    .pricing-table__prices {
        width: 100%;
        border-right: solid 1px #000;
        gap: 0;
        height: 100%;
        align-items: flex-start!important;
        > * {
            width: 100%;
            padding: 1.5rem;
            position: relative;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            min-height: 150px;
            &.pricing-subtitles {
                min-height: 0;
                > * + * {
                    border-top: solid 1px #000;
                    margin-top: 0;
                }
                > p {
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
            p {
                width: 100%;
            }
        }
        .has-heading-font-family {
            margin-top: auto;
            margin-bottom: auto;
            white-space: nowrap;
        }
        p:not(.has-heading-font-family):not(.has-lead-font-size) {
            position: absolute;
            bottom: 0.5rem;
            right: 1rem;
        }
    }
    @media (max-width: 781px) {
        .pricing-table__prices {
            flex-direction: row!important;
            border-right: 0;
            border-bottom: solid 1px #000;
            > * {
                width: unset;
                flex-basis: 50%;
                padding: 1.5rem 1rem;
                min-height: 120px;
            }
            .has-heading-font-family {
                font-size: var(--wp--preset--font-size--title-1)!important;
            }
        }
    }
}

.wp-block-group.accordion {
    .collapse {
        height: 0;
        overflow: hidden;
    }
    > h3 {
        cursor: pointer;
        padding: 0.75rem 0;
        border-bottom: solid 1px #000;
        display: block;
        font-family: var(--wp--preset--font-family--heading);
        position: relative;
        padding-right: calc(1rem + 20px);
        &:after {
            content: "";
            position: absolute;
            border-bottom: 1px solid #000000;
            height: 0;
            width: 20px;
            top: 50%;
            right: 1rem;
        }
        &.closed {
            &:before {
                content: "";
                position: absolute;
                border-right: 1px solid #000000;
                width: 0;
                height: 20px;
                top: calc(50% - 10px);
                right: calc(1rem + 10px);
            }
            // &:after {
            //     content: "+"
            // }
        }
        &:hover {
            // background-color: rgba(0, 0, 0, 0.05);
            color: $orange; 
            &:after,
            &.closed:before {
                border-color: $orange;
            }
        }
    }
    > .wp-block-group {
        transition: all 300ms ease;
        padding-top: 1.25rem;
        padding-bottom: 4rem;
        opacity: 1;
        &.collapse {
            padding-top: 0;
            padding-bottom: 0;
            opacity: 0;
        }
    }
}

ol.numbered-list {
    padding-left: 0;
    list-style-position: inside;
    counter-reset: link;
    list-style: none;
    > li {
        counter-increment: link;
        padding: 1.5rem 0;
        padding-left: clamp(60px, 10vw, 160px);
        position: relative;
        font-size: var(--wp--preset--font-size--lead);
        font-weight: bold;
        + li {
            border-top: solid 1px #000;
        }
        &::before {
            content: counter(link) ".";
            font-size: var(--wp--preset--font-size--title-2);
            color: $orange;
            font-family: var(--wp--preset--font-family--heading);
            position: absolute;
            left: 0;
            top: 1.5rem;
            line-height: 1;
        }
        ul {
            padding-left: 0;
            font-size: var(--wp--preset--font-size--base);
            font-weight: normal;
            margin-top: .5rem;
            li::before {
                display: none;
            }
        }
    }
}

.wp-block-table {
    border: 0;
    @media (min-width: 992px) {
        font-size: var(--wp--preset--font-size--lead);
    }
    thead {
        border-bottom: 0;
        font-size: 1.1em;
    }
    th,
    td {
        padding: 1rem;
    }
    th {
        border: 0;
        text-transform: uppercase;
        padding-left: 0;
        padding-right: 0;
    }
    td:first-child,
    th:first-child {
        width: 50%;
    }
    td:first-child {
        border-left: 0;
        padding-left: 0;
    }
    td:last-child {
        border-right: 0;
    }
    tfoot {
        font-size: var(--wp--preset--font-size--base);
        td {
            border: 0;
        }
    }
    .wp-element-caption {
        font-size: var(--wp--preset--font-size--base);
        color: inherit;
        text-align: left;
        padding: 1rem 0;
    }
}

@media (min-width: 576px) {}

@media (min-width: 601px) {
    .wp-block-media-text .wp-block-media-text__content {
        padding: 0 4rem;
    }
}

@media (min-width: 768px) {
    // .alignfull {
    //     margin-left: calc((100% - 100vw) / 2);
	// 	margin-right: calc((100% - 100vw) / 2);
    //     width: 100vw;
    // }
    // .alignwide {
	// 	margin-left: calc((100% - 100vw) / 4);
	// 	margin-right: calc((100% - 100vw) / 4);
	// 	width: calc(100% + ((100vw - 100%) / 2));
	// }
}

@media (min-width: 992px) {
    .yhteystiedot .entry-content>.alignwide {
        padding-left: calc(131px - 2rem); // width of hero pattern minus container padding
        padding-right: calc(131px - 2rem);
        // max-width: 1500px;
    }
}

@media (min-width: 1200px) {}

@media (max-width: 1199px) {
    .wp-block-media-text {
        h1, h2 {
            hyphens: auto;
        }
    }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

// Gutenberg mobile break point
@media (max-width: 600px) {
    .wp-block-media-text.is-stacked-on-mobile figure {
        margin-bottom: 1.5rem;
    }
    // .entry-content .wp-block-group.alignfull {
    //     padding-left: 15px;
    //     padding-right: 15px;
    //     .alignwide {
    //         margin-left: 0;
    //         margin-right: 0;
    //         width: 100%;
    //     }
    // }
}

/* Extra small devices (portrait phones, less than 575px) */
@media (max-width: 575px) {}
