/*------------------------------------*\
    HEADER
\*------------------------------------*/

.navbar-brand {
    margin-right: auto;
    width: auto;
    max-width: 300px;
    white-space: normal;
    float: left;
}
.logo-placeholder {
    display: block;
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
}
.logo-img {
    max-height: 50px;
}
.navbar {
    padding: 2rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#nav-wrapper {
    margin-right: auto;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-weight: 500;
    > .menu-item {
        display: block;
        + .menu-item {
            margin-left: 1rem;
        }
        > a {
            color: inherit;
            position: relative;
            display: block;
            padding: .5rem 1rem;
            white-space: nowrap;
            &:before {
                content: "";
                position: absolute;
                left: .5rem;
                top: calc(100% - 10px - .75rem);
                height: 0;
                width: calc(100% - 1rem);
                z-index: -1;
                background-color: $orange;
                transition: all 150ms ease-out;
            }
            &:hover {
                text-decoration: none;
                color: inherit;
                &:before {
                    height: 10px;
                }
            }
        }
    }
    .menu-item.current_page_item > a:before {
        content: "";
        position: absolute;
        left: .5rem;
        top: calc(100% - 10px - .75rem);
        height: 10px;
        width: calc(100% - 1rem);
        z-index: -1;
        background-color: $orange;
        transition: all 150ms ease-out;
    }
    .menu-item-has-children {
        position: relative;
        vertical-align: middle;
        > a:hover,
        > a:focus {
            text-decoration: none;
        }
        > a::after {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            border: 0;
            border-left: solid 2px;
            border-bottom: solid 2px;
            border-color: inherit;
            margin-left: 0.5rem;
            transform: rotate(-45deg);
            transform-origin: center;
            vertical-align: 0.255em;
        }
        .sub-menu {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            margin-top: 0.125rem;
            border: 0;
            border-radius: 0;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
            z-index: 1000;
            min-width: 16rem;
            padding: 0;
            margin: 0;
            font-size: inherit;
            color: inherit;
            text-align: left;
            list-style: none;
            background-color: $grey-40;
            background-clip: padding-box;
            &.show {
                display: block;
            }
            > .menu-item > a {
                color: inherit;
                display: block;
                padding: .5rem 1rem;
            }
            > .menu-item + .menu-item {
                border-top: solid 1px $grey-80;
            }
            .current_page_item > a {
                font-weight: bold;
                color: $orange;
                &:before {
                    display: none;
                }
            }
        }
    }
}

.hamburger-box {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
}
.hamburger-inner {
    display: block;
    position: absolute;
    top: 50%;
    background-color: transparent;
    height: 1px;
    width: 100%;
    // margin-top: -2px;
}
.hamburger-inner::before, 
.hamburger-inner::after {
    width: 50px;
    height: 1px;
    background-color: $brand-primary;
    border-radius: 0;
    position: absolute;
    transition-property: transform;
    // transition-duration: 0.15s;
    // transition-timing-function: ease;
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger-inner::before, 
.hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -5px;
    transition: top 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger-inner::after {
    bottom: -5px;
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
:where(.is-active) .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    &::before {
        background-color: #000;
        top: 0;
        transform: rotate(180deg);
        transition: top 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    &::after {
        background-color: #000;
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}

.navbar-toggler {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter, background;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    position: absolute;
    right: 5px;
    &:focus {
        outline: 0;
    }
    &.is-active {
        position: fixed;
    }
}

.site-title {
    font-size: 1.5rem;
    margin: .5rem auto;
}
.site-description {
	font-size: 1rem;
	line-height: 1.2;
	margin-bottom: 0;
    font-weight: 400;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .navbar {
        min-height: 130px;
    }
    .navbar-brand {
        position: absolute;
        margin-right: none;
    }
    #nav-wrapper {
        margin-right: auto; 
        margin-left: auto;
        padding-left: 230px;
        padding-right: 230px; // to prevent the menu going under logo or menu-button
    }
    .navbar-toggler {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .site-header .menu-btn {
        position: absolute;
        right: 2rem;
        a {
            background-color: $orange;
            display: block;
            text-align: center;
            white-space: nowrap;
            border-radius: 100px;
            font-weight: bold;
            padding: 0.5rem 1.5rem;
            &:active,
            &:focus, 
            &:hover {
                opacity: .7;
            }
            &:before {
                display: none;
            }
            &:after {
                content: "";
                display: inline-block;
                width: 8px;
                height: 8px;
                border: 0;
                border-right: solid 2px;
                border-bottom: solid 2px;
                border-color: inherit;
                margin-left: 3.5rem;
                transform: rotate(-45deg);
                transform-origin: center;
                vertical-align: middle;
            }
        }
    }
}

@media (max-width: 1199px) {
    .logo-img {
        max-height: 40px;
    }
    body.menu-open {
        height: 100vh;
        overflow: hidden;
    }
    .navbar {
        padding: 3.25rem 2rem;
    }
    .navbar-toggler {
        z-index: 1002;
    }
    .navbar .collapse {
        visibility: hidden;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        background: $brand-primary;
        color: #000;
        z-index: 1001;
        transition: all 300ms ease;
        opacity: 0;
        .navbar-nav .menu-item {
            transition: none;
            opacity: 0;
            transform: translateX(100px);
            font-size: 2.1rem;
            + .menu-item {
                margin-left: 0;
            }
        }
        &.is-active {
            visibility: visible;
            left: 0;
            opacity: 1;
            .navbar-nav .menu-item {
                transform: translateX(0);
                opacity: 1;
                transition: all 500ms ease;
                transition-delay: 0;
                @for $i from 1 through 10 {
                    &:nth-child(n + #{$i}) {
                        // margin-left: #{($i - 1) * 30}px;
                        // transition-delay: #{$i * 150 + 150}ms;
                        transition-delay: #{$i * 150 - 150}ms;
                    }
                }
            }
        }
    }
    .navbar .navbar-nav {
        margin: 0 auto;
        color: #000;
        width: 100%;
        padding: 2rem;
        text-align: center;
        .menu-item {
            padding: 0;
            a {
                padding: 1rem 0;
                color: #000;
                white-space: normal;
            }
        }
        .menu-item {
            a {
                transition: all 500ms ease;
                &:hover,
                &:focus {
                    padding-left: 1rem;
                }
            }
        }
        .menu-item-has-children {
            .sub-menu {
                position: relative;
                top: auto;
                box-shadow: none;
                background-color: transparent;
                color: inherit;
                padding: 0 1rem;
                text-align: center;
                .menu-item {
                    border: 0;
                    font-size: 1.25rem;
                    font-weight: normal;
                    a {
                        padding-top: .5rem;
                        padding-bottom: .5rem;
                    }
                }
                .current_page_item > a {
                    color: inherit;
                }
            }
        }
    }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .logo-img {
        max-height: 30px;
    }
}

@media (max-width: 575px) {}
